MONGO_URI= "Mongo db uri"

# Auth0
AUTH0_AUDIENCE= ""
AUTH0_ISSUER_BASE_URL= ''

# Cloudinary 
CLOUDINARY_CLOUD_NAME= ""
CLOUDINARY_API_KEY= ""
CLOUDINARY_API_SECRET= ""

# Stripe 
FRONTEND_URL=""
STRIPE_API_KEY= ""
STRIPE_WEBHOOK_SECRET= ""